<?php
/**
 * @var $this IWD_Opc_Block_Onepage_Review
 * @var $opcHelper IWD_Opc_Helper_Data
 */
?>
<?php
	$opcHelper = $this->helper('iwd_opc');
?>


<style>
#checkout-review-table.data-table tbody tr{
margin:10px auto;
}

@media(max-width:767px)
{
.main-container{
	margin-top:20px;
}
.checkout_review{display:none;}
.checkout_review_mobile{display:block;}
.cartCustomBlock .data-table tbody tr.checkout_product td:first-child .product-name a {
border: 0px !important;
border-bottom: 1px dotted #1e8183 !important;
}
.cartCustomBlock .data-table tbody tr.checkout_product td:last-child a {
border: 1px solid #1e8183 !important;
}
.checkout_product {
position: relative;
text-align: left;
}
.checkout_product td:first-child .product-name {
float: left;
text-align: left;
}
.checkout_product td:first-child .product-name a {
border-bottom: 1px dotted #1e8183 !important;
}
.checkout_product .btn-remove2 {
position: absolute !important;
right: 20px;
width: 30px !important;
height: 30px !important;
border-radius: 50%;
}
.checkout_product .left_prod_checkout {
max-width: 30%;
width: 100%;
float: left;
}
.checkout_product .left_prod_checkout a {
width: 90% !important;
margin: 0px !important;
}
.checkout_product .right_prod_desc_checkout {
max-width: 70%;
width: 100%;
float: left;
text-align: left;
}
.checkout_product .right_prod_desc_checkout .cart-price span {
font-size: 12px;
}
.checkout_product .left_text {
text-align: left !important;
}
.checkout_product .left_text p {
text-align: left;
}
.checkout_product .left_text a {
width: 50px !important;
text-align: center;
margin: 0px !important;
border: #1e9093 solid 1px !important;
padding: 3px 5px !important;
}
}
.review_heading
{
font-size: 18px;
color:#ec6468;
margin: 30px 0;
font-family: 'CrimsonText-Semibold';
	text-transform:uppercase;
	text-align:left;

}
</style>

<?php
$quote = Mage::getModel('checkout/session')->getQuote();
if ($quote) {
if ($quote->getShippingAddress()) {
// check customer shipping address country
$shippingData = $quote->getShippingAddress()->getData();
	if($shippingData){//echo "Shipping to ".$shippingData['firstname']." ".$shippingData['lastname'].",".$shippingData['city'].",".$shippingData["postcode"];
 }
}
}
?>
</div>
<div id="checkout-review-table-wrapper" class="cartCustomBlock">
<div class="review_heading">Review Your Order</div>
	<div>
	<?php foreach($this->getItems() as $_item): ?>
 <div class="review_and_products">
 	<div class="products_left_box">
 <a class="product_img" href="javascript:void(0);" title="<?php echo $_item->getProduct()->getName(); ?>">
 <img src="<?php echo Mage::helper('catalog/image')->init($_item->getProduct(), 'thumbnail')->resize(75, 75); ?>" width="75" height="75" alt="<?php echo $_item->getProduct()->getName(); ?>">
</a> 
 	</div>
 	<div class="products_right_box">
<h3 class="product_name">
 	<a href="javascript:void(0);" title="<?php echo $_item->getProduct()->getName(); ?>"><?php echo $_item->getProduct()->getName(); ?></a>
</h3> 

<!--<div class="product_color">Color: <span>Purple</span></div>
<div class="product_size">Size: <span>Large</span></div>-->
<div class="product_quantity">Quantity: <span><?php echo $_item->getQty()?></span></div> 
 	</div>
 </div>
	<?php endforeach;?>
	</div>
<div class="summary_section_cont">
 	<div class="order_summary_title">Order Summary</div>
 	<?php echo $this->getChildHtml('totals'); ?>
</div>
</div>

<style>
.iwd_opc_wrapper *
{
font-family: 'CrimsonText-Semibold';
}
.left_prod_checkout
{
max-width:30%;
width:100%;
float:left;
}
.right_prod_desc_checkout
{
max-width:70%;
width:100%;
float:right;
 text-align: left;
 font-family: 'CrimsonText-Semibold';
}


.cartCustomBlock .data-table tbody tr td:last-child a:hover
{
border-bottom: 1px dotted #1e9093 !important;
}

.left_prod_checkout a
{
width: 100px !important;
height: 100px!important;
}
.category-products .item img, .product-image img {
display: block;
height: auto;
max-width: 100%;
width: 100%;
}
#checkout-review-table .left_prod_checkout a {
border: 1px solid #1e9093 !important;
margin:0px;
box-sizing: content-box;
}
.right_prod_desc_checkout .product-name
{
border-bottom: 1px dotted #1e9093 !important;
display: inline-block;

}
#checkout-review-table .right_prod_desc_checkout .product-name a:hover
{
border:0px !important;
}
.order_summary_title
{
text-align: left;
font-size: 21px;
margin-bottom: 10px;
margin-top: 15px;
color: #2d3c6c;
}
.iwd_opc_top_review_total .iwd_opc_top_review_total_cell:nth-child(1)
{
color:#2d3c6c;
max-width:70%;
width: 100%;
float:left;
text-align: left;
}
.iwd_opc_top_review_total .iwd_opc_top_review_total_cell:nth-child(2)
{
color:#ec6468;
max-width:30%;
width: 100%;
float:left;
text-align: right;
}
#iwd_opc_top_review , .summary_section_cont
{
font-size:19px;
width:100%;
margin:auto;
}
#iwd_opc_place_order #iwd_opc_place_order_button
{
background-color: #2d3c6c;
max-width: 500px;
width: 100%;
margin: auto;
margin-top: 15px;
font-size: 16px;
}
#iwd_opc_top_review div
{
font-size: 18px;
color: #22a1ad;
margin-top: 15px;
margin-bottom: 15px;
}
.data-table .product-image img
{
min-width:100%;
}

@media(max-width: 767px)
{
.right_prod_desc_checkout .product-name
{
border-bottom:0px !important;
}
.checkout_product .left_prod_checkout a
{
 height: auto !important;
}
#iwd_opc_payment_column
{
 padding:5px !important;
}
}
</style>


<style>
.header.container{
	text-align: center;
}
.header.container .logo img{
	margin: 5px auto;
}
#checkout_page_custom{
max-width: 900px;
width: 100%;
 margin: auto;
 padding-top: 25px;
 }
 #checkout_page_custom .nav.nav-tabs{
 	border-bottom: 3px solid #dee2e3;
 	}

 	#checkout_page_custom .nav.nav-tabs li {
 	width: 30.33%;
 	text-align: center;
 	 border-bottom: #ec6468 solid 3px;
 	 text-transform: uppercase;
 	color: #2d3c6c;
 	margin-left: 1.5%;
 	 margin-right: 1.5%;
 	 margin-bottom: -3px;
 	border-left: none;
 	border-top: none;
 	 border-right: none;
 	 }
 	 #checkout_page_custom .nav.nav-tabs li.active{
 border-bottom: #2d3c6c solid 3px;
 }

 #checkout_page_custom .nav.nav-tabs li.active a{
 border-left: none;
 border-top: none;
border-right: none;
 color: #2d3c6c;
 padding: 10px 15px;
 display: block;
font-family: 'CrimsonText-Semibold';
 text-transform: uppercase;
 background: transparent;
 font-weight: 600;
 }

 #checkout_page_custom .nav.nav-tabs li >a {
padding: 10px 15px;
 display: block;
 font-family: 'CrimsonText-Semibold';
 text-transform: uppercase;
background: transparent;
 color: #ec6468;
 font-weight: 600;
 border-left: none;
border-top: none;
 border-right: none;
 }

 #checkout_page_custom .sign_in_tab_details{
 	width: 100%;
max-width: 90%;
margin: auto;
position: relative;
 text-align: center;
 padding: 5%;
 }

 input.checkout_custom_field{
padding: 10px;
height: 38px;
 border: 1px solid #2d3c6c;
 border-radius: 0px;
transition: border linear 0.5s;
font-family: 'CrimsonText-Semibold';
 background: inherit;
 color: #343434;
font-size: 18px;
outline: none;
 height: auto;
 width: 100%;
 }
 #checkout_page_custom .sign_in_tab_details input::placeholder{
 	color:#868686;
font-size: 18px;
}
#checkout_page_custom .sign_in_tab_details .sign_custom_buttons{
max-width: 650px;
width: 100%;
 margin: 40px auto;
 padding-bottom: 30px;
 }

 #checkout_page_custom .sign_in_tab_details .sign_custom_buttons button{
width: 40%;
max-width: 100%;
 float: left;
 margin: 0 5%;
 } 

 #checkout_page_custom .sign_in_tab_details .continue_as_guest,
 #checkout_page_custom .sign_in_tab_details .sign_in{
padding: 10px 20px;
font-size: 16px;
 font-weight: 500;
 border: 0px;
background: #2d3c6c;
color: #fff;
 font-family: 'CrimsonText-Semibold';
 text-transform: uppercase;
 }

 .custom_sign_or{
width: 100%;
margin: 0;
 padding: 30px;
 text-align: center;
clear: both;
color: #ec6468;
 font-size: 18px;
 text-transform: uppercase;
 }
 .custom_sign_or:after {
display: inline-block;
margin: 0 10px 5px 10px;
 height: 1px;
 content: " ";
text-shadow: none;
background-color: #ec6468;
 width: 35%
 }
 .custom_sign_or:before {
 display: inline-block;
margin: 0 10px 5px 0;
height: 1px;
 content: " ";
 text-shadow: none;
background-color: #ec6468;
width: 35%;
}

.sign_social_icons{
	width: 100%;
	margin:  0;
	padding: 0;
	 text-align: center;
	 clear: both;
	max-width: 100%;
	display: inline-block;
	}
	.sign_social_icons a.facebook{
		width: 50%;
text-align: right;
max-width: 100%;
display: block;
 float: left;
padding-right: 10px;
}
.sign_social_icons a.google_plus{
	width: 50%;
	text-align: left;
	max-width: 100%;
	 display: block;
	 float: left;
	padding-left: 10px;
	}
	#checkout_page_custom .billing_address{
		width: 100%;
	 max-width: 90%;
	 margin: auto;
	 position: relative;
	padding: 0 5%;
	}
	#checkout_page_custom .billing_address h4{
		font-family: 'CrimsonText-Semibold';
	 font-size: 26px;
	 color: #2d3c6c;
	 text-align: center;
	 }
	 .checkout_field{
	 	margin: 15px 0;
	display: block;
	}
	.checkbox_field{
	margin-top: 5px;
		display: block;
		}
		.checkbox_field label{
	 font-family: 'CrimsonText-Semibold';
 font-size: 16px;
 	color: #2d3c6c;
 	}

 	.checkout_custom_label{
 	max-width: 100%;
 	width: 100%;
 	 margin: auto;
 	 padding-left: 5px;
 	text-align: left;
 	color: #2d3c6c;
 	 font-size: 16px;
 	 font-family: 'CrimsonText-Semibold';
 	 }
 	 .billing_address input::placeholder{
 	 	color:#2d3c6c;
 	font-size: 12px;
 	text-transform: uppercase;
 		text-align: right;
 		}
 		.checkout_order_summary{
 	 margin: 0;
 	 padding: 0;
 	 	background: #fffbf8;
 	max-width: 100%;
 	width: 100%;
 	clear: both;
 	}
 	.checkout_order_summary h5{
 	 max-width: 100%;
 width: 100%;
 	text-align: left;
 	color: #2d3c6c;
 	 font-size: 24px;
 font-family: 'CrimsonText-Semibold';
 }

 .checkout_order_summary .summary_left_box{
 	width: 50%;
 	text-align: left;
 	max-width: 100%;
 	 display: block;
 	 float: left;
 	color: #2d3c6c;
 	font-size: 20px;
 	 font-family: 'CrimsonText-Semibold';
 	 clear: both;
 	 }

 	 .checkout_order_summary .summary_right_box{
 	 	width: 50%;
 	 	text-align: right;
 	 	max-width: 100%;
 	 	 display: block;
 	 	 color: #ec6468;
 	 	font-size: 18px;
 	 	float: left;
 	 	 font-family: 'CrimsonText-Semibold';
 	 	 }
 	 	 .review_checkout_order{
 	 max-width: 100%;
 	 width: 100%;
 	 display: block;
 	margin: 80px 0 50px 0;
 	 clear: both;
 	 }
 	 .review_checkout_order a{
 	 	text-decoration: none;
 	color: #a5a1a4;
 	font-size: 18px;
 		text-align: left;
 	 display: block;
 	 }
 	 #checkout_page_custom .order_summary {
 	 width: 100%;
 	 max-width: 90%;
 	margin: auto;
 	position: relative;
 	 padding:20px 5%;
 	 clear: both;
 	 }
 	 .pay_now_summary{
 	 	max-width: 650px;
 	 	width: 100%;
 	 	margin: auto;
 	 	 text-align: center;
 	 	 }
 	 	 .pay_now{
 	 	 	padding: 10px 20px;
 	 	 	font-size: 16px;
 	 	 	font-weight: 500;
 	 	 	 border: 0px;
 	 	 	 background: #2d3c6c;
 	 	 	color: #fff;
 	 	 	font-family: 'CrimsonText-Semibold';
 	 	 	 text-transform: uppercase;
 	 	 	 width: 50%;
 	 	 	max-width: 100%;
 	 	 	margin:auto;
 	 	 	 text-align: center;
 	 	 	 }
 	 	 	 .review_order_bg{
 	 	 	 	width: 100%;
 	 	 	max-width:100%;
 	 	 	background: #fcf6f0;
 	 	 		display: block;
 	 	 		}

 	 	 		#checkout_page_custom .review_and_order{
 	 	 	 width: 100%;
 	 	 	 max-width: 90%;
 	 	 	 margin: auto;
 	 	 	 position: relative;
 	 	 	padding: 10px 5%;
 	 	 	}
 	 	 	#checkout_page_custom .review_and_order h4{
 	 	 		font-family: 'CrimsonText-Semibold';
 	 	 	 font-size: 22px;
 	 	 	 color: #ec6468;
 	 	 	 text-align: left;
margin:0;
padding: 0; 
text-transform: uppercase;
}
#checkout_page_custom .review_and_order h5{
	font-family: 'CrimsonText-Semibold';
 font-size: 18px;
 color: #2d3c6c;
text-align: left;
margin:10px 0;
padding: 0; 
}
	.review_and_products{
text-align:left;
min-height:150px;
	width: 100%;
 max-width: 100%;
 margin:10px auto;
 clear: both;
padding: 10px;
background: #fff;
 position: relative;
 }
 .review_and_products .products_left_box{
 	width: 35%;
 	max-width: 100%;
 	display: block;
 	 float: left;
 	 clear: both;
 	 }
 	 .review_and_products .products_left_box a{	display: block;
	text-align:left;
 	 	}

 	.review_and_products .products_right_box{
 		width: 65%;
 		max-width: 100%;
 		display: block;
 		 float: left;
 		 }
 		 .review_and_products .products_right_box h3 a{
 		 color: #2d3c6c;
 		display: block;
 		font-family: 'CrimsonText-Semibold';
 		 font-size: 26px;
 		 text-decoration: none;
 		 }
 		 .review_and_products .products_right_box .product_color{
 		width: 50%;
 		max-width: 100%;
 		 display: block;
 		 float: left;
 		text-align: left;
 		color: #2d3c6c;
 		 font-size: 16px;
 		 font-family: 'CrimsonText-Semibold';
 		 }
 		 .review_and_products .products_right_box .product_color span,
 		 .review_and_products .products_right_box .product_size span,
 		 .review_and_products .products_right_box .product_quantity span{
 		 	color: #a5a1a4;
 		 	}
 		 	.review_and_products p.product_line{
 		color: #a5a1a4;
 		clear: both;
 			font-size: 16px;
 		 font-family: 'CrimsonText-Semibold';
 		 }
 		 .review_and_products .products_right_box .product_size{
 		 width: 50%;
 		 max-width: 100%;
 		display: block;
 		font-size: 16px;
 		 float: left;
 		 text-align: left;
 		color: #2d3c6c;
 		font-family: 'CrimsonText-Semibold';
 		}
 		.review_and_products .products_right_box .product_quantity{
 		 width: 100%;
 		 max-width: 100%;
 		display: block;
 		float: left;
 		 font-size: 16px;
 		 text-align: left;
 		color: #2d3c6c;
 		font-family: 'CrimsonText-Semibold';
 		}
 		.close_product{
 			position: absolute;
 		 right: 0;
 		 top: 0;
 		 }
 		 .close_product a{
 		 text-decoration: none;
 		display: block;
 		}
 		.close_product img{
 			width: 15px;
 			height: 15px;
 			margin: 5px;
 			}
 			.review_and_products p.product_line{
 				padding-bottom: 10px;
 				} 
 				.review_order_bg{
 			 padding-bottom: 10px;
 			 } 


 			 /* For mobile phones: */
 			 @media screen and (max-width: 479px) {
 			 #checkout_page_custom .nav.nav-tabs li >a,
 			 #checkout_page_custom .nav.nav-tabs li.active a{
 			 font-size: 10px;
 			 padding: 10px 5px; 
 			 } 
 			 #checkout_page_custom .sign_in_tab_details{
 			 	margin: 20px auto;
 			 	}
 			 	#checkout_page_custom .sign_in_tab_details .continue_as_guest, #checkout_page_custom .sign_in_tab_details .sign_in {
 			 	padding: 10px;
 			 	font-size: 12px;
 			 	}
 			 	#checkout_page_custom .sign_in_tab_details .sign_custom_buttons button {
 			 	 width: 46%;
 			 	 max-width: 100%;
 			 	float: left;
 			 	margin: 0 2%;
 			 	}
 			 	.custom_sign_or:before,
 			 	.custom_sign_or:after{
 			 		width: 35%;
 			 		}
 			 		.custom_sign_or{
 			 	 font-size: 12px;
 			 	 }
 			 	 #checkout_page_custom .sign_in_tab_details{
 			 	 padding: 5% 0;
 			 	 }
 			 	 #checkout_page_custom .billing_address h4,
 			 	 .checkout_order_summary h5{ 
 			 	 	font-size: 18px;	
 			 	 	}
 			 	 	#checkout_page_custom .billing_address h4{
 			 	margin-top: 20px;
 			 	}
 			 	.checkout_order_summary .summary_right_box,
 			 	.checkout_order_summary .summary_left_box{
 			 	font-size: 16px;
 			 	}
 			 	.review_checkout_order{
 			 		margin: 70px 0 30px 0;
 			 		}
 			 		.pay_now_summary {
 			 		max-width: 100%;
 			 		}
 			 		.pay_now {
 			 		width: 100%;
 			 		}
 			 		#checkout_page_custom .billing_address,
 			 		#checkout_page_custom .review_and_order{
 			 			padding: 10px 0px;
 			 			}
 			 			#checkout_page_custom .order_summary{
 			 		 padding:20px 0; 
 			 		 }
 			 		 #checkout_page_custom .review_and_order h4{
 			 		 font-size: 18px;
 			 		 	margin: 15px 0;
 			 		 	}
 			 		 	.review_and_products{
 			 		padding:10px;
 			 		max-width: 100%;
 			 		}
 			 		.review_and_products .products_left_box{
 			 			width: 45%;
 			 			}
 			 			.review_and_products .products_right_box{
 			 		 width: 55%;
 			 		 }
 			 		 .review_and_products .products_left_box .product_img img {
 			 		 max-width: 90%;
 			 		 }
 			 		 .review_and_products .products_right_box h3 a{
 			 		 	font-size: 20px;
 			 		 	}
 			 		 	.review_and_products .products_right_box .product_color,
 			 		 	.review_and_products .products_right_box .product_size,
 			 		 	.review_and_products .products_right_box .product_quantity{
 			 		font-size: 14px;
 			 		}
 			 		.review_and_products p.product_line{
 			 		padding-bottom: 20px;
 			 		} 
 			 		.review_order_bg{
 			 			padding-bottom: 20px;
 			 			}
 			 			}
 			 			/* For Iphone phones: */
 			 			@media (width: 320px){
 			 			.review_and_products .products_right_box .product_color, 
 			 			.review_and_products .products_right_box .product_size, 
 			 			.review_and_products .products_right_box .product_quantity{
 			 			font-size: 12px;
 			 			}
 			 			#checkout_page_custom .nav.nav-tabs li >a, #checkout_page_custom .nav.nav-tabs li.active a {
 			 			font-size: 9px;
 			 			 }
 			 			 .review_and_products .products_right_box h3 a {
 			 			 font-size: 17px;
 			 			 }
 			 			 #checkout_page_custom .sign_in_tab_details .continue_as_guest, #checkout_page_custom .sign_in_tab_details .sign_in {
 			 			font-size: 11px;
 			 			}
 			 			}

</style>
