<?php
/**
 * @var $this IWD_Opc_Block_Onepage_Payment_Method
 */
?>
<?php
$methods = $this->getMethods();
$selectedPaymentMethod = $this->getSelectedMethodCode();
?>
<div class="iwd_opc_universal_wrapper iwd_opc_message iwd_opc_section_message error_message hide">

</div>
<form class="iwd_opc_form" id="iwd_opc_payment_method_form">
    <?php if (empty($methods)) { ?>
        <div class="iwd_opc_universal_wrapper">
        <?php echo $this->escapeHtml($this->__('Currently we do not ship to your pincode location')); ?>
        </div>
<script>
jQuery('#iwd_opc_place_order_button').attr('disabled','disabled');
</script>
    <?php } else { ?>
<script>
jQuery('#iwd_opc_place_order_button').removeAttr('disabled');
</script>
	<?php 
		$numMethods=count($methods);
	?>
        <div class="iwd_opc_universal_wrapper" style="<?php if($numMethods==1){}?>">
	<div class="payment_label">How would you like to pay?</div>
            
		<?php foreach($methods as $method){
		$code = $method->getCode();?>
			<input class="payment-radio" type="radio" id="payment_method_<?php echo $this->escapeHtml($code);?>" name="payment[method]" value="<?php echo $this->escapeHtml($code);?>">
				<label for="payment_method_<?php $this->escapeHtml($code)?>"><?php echo $this->getMethodTitle($method); ?></label><br>
		<?php } ?>
            
	</div>
		<script>
			jQuery("#payment_method_secureebs_standard").prop('checked',true);
		</script>
        <div class="iwd_opc_payment_method_forms">
            <?php foreach ($methods as $method) {
                $code = $method->getCode(); ?>
                <?php if ($html = $this->getPaymentMethodFormHtml($method)) { ?>
                    <div class="iwd_opc_payment_method_form"
                        <?php if ($selectedPaymentMethod != $code) { ?>
                            style="display:none;"
                        <?php } ?>
                         data-payment-method-code="<?php echo $this->escapeHtml($code); ?>">
                        <?php echo $html; ?>
                    </div>
                <?php } ?>
            <?php } ?>
        </div>
    <?php } ?>
</form>
<script type="text/javascript">
    var iwdOpcPaymentMethodForm = new VarienForm('iwd_opc_payment_method_form');
    iwdOpcPaymentMethodForm.validator.options = {
        onSubmit: false,
        stopOnFirst: false,
        immediate: false,
        focusOnError: false,
        useTitles: false,
        onFormValidate: function (result, form) {
        },
        onElementValidate: function (result, elm) {
        }
    };
</script>
