<?php $gettitile=Mage::getStoreConfig('related_products/modules_configuration/title');
	$getslider=Mage::getStoreConfig('related_products/modules_configuration/slider_con');
	$getActive=Mage::getStoreConfig('related_products/modules_configuration/enable_disable_modules');
	$no_product=Mage::getStoreConfig('related_products/modules_configuration/no_product');
	$product = Mage::registry('current_product');
?>
<?php if(!empty($getActive) && $getActive==1) {?>
	<h1><?php if(!empty($gettitile)){echo $gettitile;}?></h1>
	<div id="related">
	</div>
		<div id="demo">
		</div>
		<?php }?>


<script language="javascript">
		jQuery(document).ready(function(){
   			lazyloadImage();
		});
		function lazyloadImage() {
			jQuery("img.lazy").each(function() {
			var e = jQuery(this).offset().top,
			t = jQuery(window).scrollTop(),
			s = jQuery(window).height(),
			a = s > e - t;
			a && jQuery(this).attr("src", jQuery(this).attr("data-original")).removeClass("lazy")
			})
		}
		var lazyloadImage=function(){
			jQuery("img.lazy").each(function()
			{
				var distanceToTop=jQuery(this).offset().top;
				var scroll=jQuery(window).scrollTop();
				var windowHeight=jQuery(window).height();
				var isVisible=distanceToTop-scroll<windowHeight;
				if(isVisible)
				{
					jQuery(this).attr("src",jQuery(this).attr("data-original")).removeClass("lazy");
				}
			});
		};  
		jQuery(window).on("load", function() {
	    			lazyloadImage();
			});	
		jQuery(window).scroll(function(){
   				lazyloadImage();
			});
		jQuery(document).ready(function(){
			var product_Id='<?php echo $product->getId(); ?>'
			loadajax(product_Id);
			});
		function loadajax(productId) {
			console.log(productId);
			jQuery.ajax({
				url:"<?php echo $this->getUrl('relatedproducts/index/related'); ?>",
				type: 'GET',
				dataType: 'json',
				contentType: 'application/json; charset=utf-8',
				data: {productId: productId},
				success: function(products) {
					var row="";
					var row1="";
					var slider='<?php echo $getslider;?>'
					var slider_img='<?php echo $no_product;?>'
					if(slider_img<=5 && slider==0)
					{
						jQuery.each(products, function (key,value) {
							row += "<ul>";
							row += "<li><a href='"+value.producturl+"'><img src='http://127.0.0.1/magento5/skin/frontend/rwd/default/images/ogaan.png' data-original='"+value.image+"' class='lazy' ><p>"+value.name+"</p></a><p>"+value.price+"</p></li>";
							row += "</ul>"; 
							});
					}
					else if(slider==1 && slider_img<=5)
					{
						jQuery('#demo').html('<div id="testing" class="owl-carousel owl-carousel-related"></div>'); 
						jQuery.each(products, function (key,value)
						{ 
							jQuery(".owl-carousel-related").append('<div><a href="'+value.producturl+'"><img src="http://127.0.0.1/magento5/skin/frontend/rwd/default/images/ogaan.png" data-original="'+value.image+'" class="lazy" /> <center><p class="img_name">'+value.name+'</p><center></a><p>'+value.price+'</p><div>'); 
						}); 
						var owl = jQuery("#testing"); owl.owlCarousel({ 
							items: 5, 
							navigation: true ,
							margin:10, 
							nav:true,
							navText:["<",">"],
							responsiveClass:true,
							responsive:{
							0:{
								items:1,
								nav:true
								},
							479:{
								items:3,
								nav:true
								},
							1000:{
								items:5,
								nav:true,
								loop:false,
								}
							}
						});
			
					}	
					else if(slider==1 && slider_img>5){
						jQuery('#demo').html('<div id="testing" class="owl-carousel owl-carousel-related"></div>'); 
						jQuery.each(products, function (key,value){ 
							jQuery(".owl-carousel-related").append('<div><a href="'+value.producturl+'"><img src="http://127.0.0.1/magento5/skin/frontend/rwd/default/images/ogaan.png" data-original="'+value.image+'" class="lazy" /> <center><p class="img_name">'+value.name+'</p><center></a><p>'+value.price+'</p><div>'); 
						});
						var owl = jQuery("#testing");
						owl.owlCarousel({ 
							items: 5,
							navigation: true ,
							margin:10, 
							nav:true, 
							navText:["<",">"], 
							responsiveClass:true,
							responsive:{
								0:{
									items:1,
						    			nav:true
								},
								479:{
							    		items:3,
									nav:true
								},
						        	1000:{
						        		items:5,
						        		nav:true,
							        	loop:false,
						        	}
							}
						});
					}
					jQuery('.owl-carousel-related').append(row1);	
					jQuery("#related").append(row);
				}
			});
		}
  	</script>

 
