<?php
/**
 * @var $this IWD_Opc_Block_Onepage_Review_Renderer_Subtotal
 */
?>
    <div class="iwd_opc_top_review_total" >
        <div class="iwd_opc_top_review_total_cell">
            <?php echo $this->escapeHtml($this->__('No of Items')) . ':'; ?>
        </div>
        <div class="iwd_opc_top_review_total_cell">
		<?php echo $this->helper('checkout/cart')->getSummaryCount();?>
        </div>
    </div>
<div class="iwd_opc_top_review_total">
    <div class="iwd_opc_top_review_total_cell">
        <?php echo $this->escapeHtml($this->__('Delivery')) . ':'; ?>
    </div>
    <div class="iwd_opc_top_review_total_cell">
        <?php echo $this->escapeHtml($this->helper('iwd_opc')->formatPrice($this->getShippingPrice(), false)); ?>
    </div>
</div>
    <div class="iwd_opc_top_review_total" style="display:none" >
        <div class="iwd_opc_top_review_total_cell">
            <?php echo $this->escapeHtml($this->__('Subtotal')) . ':'; ?>
        </div>
        <div class="iwd_opc_top_review_total_cell">
            <?php echo $this->escapeHtml($this->helper('iwd_opc')->formatPrice($this->getSubtotalPrice(), false)); ?>
        </div>
    </div>
<?php if ($this->displayBoth()) { ?>
    <div class="iwd_opc_top_review_total iwd_opc_top_review_total_tax">
        <div class="iwd_opc_top_review_total_cell">
            <?php echo $this->escapeHtml($this->__('Total payable amount')) . ':'; ?>
        </div>
        <div class="iwd_opc_top_review_total_cell">
            <?php echo $this->escapeHtml(
                $this->helper('iwd_opc')->formatPrice($this->getTotal()->getValueInclTax(), false)
            ); ?>
        </div>
    </div>
<?php } ?>
