<!DOCTYPE html>

<!--[if lt IE 7 ]> <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js"> <!--<![endif]-->

<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'  category_full_width sticky_body"':'' ?>>
<?php echo $this->getChildHtml('after_body_start') ?>
<div class="wrapper">
    <?php echo $this->getChildHtml('global_notices') ?>
    <div class="page">
        <?php echo $this->getChildHtml('header') ?>
        <div class="main-container category_full_width_cont">
            <div class="main">

                
                <div class="col-main">
    
                    <?php echo $this->getChildHtml('global_messages') ?>

                    <?php if ($_leftContent = $this->getChildHtml('left_first')): ?>
                        <!--<div class="top_filter">-->
                        <!--<div class="col-left sidebar col-left-first">
                            <?php //echo $_leftContent;   ?>
                        </div>-->
                    <?php endif; ?>
		<div class="breadcrum_category_list">
<?php
		$catId= Mage::registry('current_category');
		$_imgUrl=$catId->getImageUrl();
			if ($_imgUrl) {
				$_imgHtml = '<p class="category-image"><img src="'.$_imgUrl.'" alt="'.$this->escapeHtml($catId->getName()).'" title="'.$this->escapeHtml($catId->getName()).'" /></p>';
				echo $_imgHtml;
				//$_imgHtml = $_helper->categoryAttribute($_catId, $_imgHtml, 'image');
			}
		?>
                            <div class="breadcrum_category_page">
                                <?php echo $this->getChildHtml('breadcrumbs') ?>
                            </div>
                            <div class="current_category_name">
                                <?php echo Mage::registry('current_category')->getName(); 
                                //echo $this->getLayout()->getBlock('head')->getTitle();?>
                            </div>
                        </div>
                    <?php echo $this->getChildHtml('content') ?>
                </div>
                <div class="col-left sidebar"><?php echo $this->getChildHtml('left') ?></div>
            </div>
        </div>
        <?php echo $this->getChildHtml('footer_before') ?>
        <?php echo $this->getChildHtml('footer') ?>
        <?php echo $this->getChildHtml('global_cookie_notice') ?>
        <?php echo $this->getChildHtml('before_body_end') ?>
    </div>
</div>
<?php echo $this->getAbsoluteFooter() ?>
</body>
</html>
