<?php
/**
 * @var $this IWD_Opc_Block_Onepage_Review_Renderer_Discount
 */
?>
<div class="iwd_opc_top_review_total">
    <div class="iwd_opc_top_review_total_cell">
        <?php echo $this->escapeHtml($this->__('Discount')) . ':'; ?>
    </div>
    <div class="iwd_opc_top_review_total_cell">
        <?php echo $this->getDiscountPrice(); ?>
    </div>
</div>


