@media (max-width: 771px) {

    .product-img-box {
        width: 100% !important;
    }

    .outer_container_featured .outer_container .featured_inner .featured_data .data_text {
        background: none;
    }
    .product-view .product-shop {
        width: 100% !important;
    }
}

@media only screen and (max-width: 780px) {

    .page-header-container {
        padding: 0px;
    }
    .shipment_data_text {
        text-align: center;
        margin-top: 15px;
        font-size: 12px;
        font-family: 'droid_regular';
    }
    .shipment_cont_inner .shipment_data {
        max-width: 15%;
        width: 100%;
        display: inline-block;
    }
    .shipment_cont_inner .shipment_data img {
        max-width: 50%;
        width: 100%;
        margin: auto;
    }
    .shipment_cont_inner {
        text-align: center;
    }
    .copyright .social-icon {
        display: inline-block;
    }
    .mob_show_links {
        display: block;
    }
    .hide_mob {
        display: none;
    }
    .mob_footer_link {
        display: block;
        text-align: center;
    }
    .mob_footer_link .footer_links {
        display: inline-block;
        font-size: 13px;
        font-family: 'droid_regular';
        margin-left: 10px;
        margin-right: 10px;
        color: #000000;
    }
    .mob_footer_link .footer_links a {
        color: #000;
        margin-bottom: 15px;
        display: block;
    }
    .copyright_cont {
        float: none;
        text-align: left;
        height: 25px;
        line-height: 25px;
        display: inline-block;
        width: 45%;
        vertical-align: middle;
    }
    .social_icon_cont {
        float: none;
    }
    .social-icon {
        float: none;
        display: inline-block;
        vertical-align: middle;
        max-width: 45%;
        width: 100%;
        font-size: 15px;
    }
    .social_icon_cont {
        float: right;
    }

    .social-icon ul li {
        list-style: none;
        float: left;
        padding: 0px 12px 0px 0;
        border-top: 0px solid #919191;
        font-size: 18px;
    }
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .copyright:before,
    .copyright:after {
        content: "";
        display: block;
        clear: both
    }
    .footer_menu_cont .footer_menu_list,
    .footer-container .mallimage,
    .footer-container .mallimage+.strong {
        display: none;
    }
    .hide_mobile {
        display: none;
    }
    .mobile_menu {
        display: block;
    }
    .container {
        padding: 0 10px !important;
    }
    .logo {
        text-align: center;
    }
    .box {
        padding: 15px 0 10px 0;
    }
    .container a .fa {
        padding: 14px 0 0 37px;
    }

    .container h3 {
        border-top: solid 1px #000;
        padding-top: 20px;
    }

    p {
        font-size: 9px;
        line-height: 9px;
        padding: 4px 0;
        border: none;
    }
    .container .form-control {
        margin-top: 11px;
    }
    .container .btn {
        margin-top: 11px;
    }
    .container .icon {
        margin: 15px;
    }
    .footer_bottom {
        padding: 10px 0;
    }
    .footer_menu ul {
        text-align: center;
    }
    .footer_menu ul li {
        float: none;
        padding: 3px 3px;
    }
    .footer_menu ul li a {
        font-size: 9px;
        padding: 0px;
    }
    .footer_bottom .copyright {
        padding-bottom: 13px;
        padding-top: 8px;
        font-size: 9px;
    }
    .featured_prod_data_text {
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .col-md-3.product {
        padding-bottom: 15px;
    }
    .featured_product_mob_car {
        margin-left: 0px !important;
    }

    .owl-carousel.featured_product_mob_car .owl-nav,
    .owl-carousel.featured_product_mob_car .owl-dots {
        display: none;
    }
    #header-nav .megamenu-nav .megamenu-nav-primary>li a {
        color: #111111;
        font-family: 'droid_bold';
        font-size: 12px;
        text-align: left;
    }
    .megamenu-nav ul li {
        float: none;
        display: block;
        margin-left: 0px;
        margin-right: 0px;
    }
    .sticky_body .page-header-container {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    #header-nav {
        display: none !important;
        padding: 0px;
    }
    #header-nav.skip-content.skip-active {
        display: block !important;
        background: #EDEDED;
        width:100%;
    }
    .menu_home {
        width: 55px;
        height: 55px;
    }
    .menu_home .fa-bars {
        width: 55px;
        height: 55px;
        display: inline-block;
        vertical-align: top;
        background: #f5f1ed;
    }
    .menu_home .fa-navicon:before,
    .menu_home .fa-reorder:before,
    .menu_home .fa-bars:before {
        content: "\f0c9";
        width: 55px;
        height: 55px;
        line-height: 55px;
        font-size: 20px;
        color: #a78a6a;
    }
    /*.mobile_menu 
    {
        display: inline-block;
        float:left;
    }*/
    .mobile_menu {
        display: block;
        float: none;
    }
    .account_right_icon {
        max-width: 200px;
        width: 100%;
        text-align: right;
        height: 55px;
    }
    .account_right_icon>div {
        display: inline-block;
        width: 45px;
        float: none;
        position: relative;
        vertical-align: middle;
        height: 55px;
    }
    .account_right_icon>div>a,
    .account_right_icon>div>div>a {
        width: 45px;
        height: 50px;
        text-align: center;
        padding: 0px;
        color: #a78b6b;
        text-decoration: none;
    }
    .account_right_icon>div>a:before,
    .account_right_icon>div>div>a:before {
        width: 45px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
    }
    .account_right_icon>div.wishlist_nav {
        display: none;
    }
    .page-header {
        max-width: none;
        width: 100%;
        border-bottom: none;
        box-shadow: none;
    }

    .mobile_menu .account-cart-wrapper .header-minicart a {
        height: 55px;
        width: 55px;
        display: inline-block;
    }

    .mobile_menu .account-cart-wrapper .header-minicart a:hover,
    .mobile_menu .account-cart-wrapper .header-minicart a:focus {
        color: #888;
    }
    .mobile_menu .account-cart-wrapper {
        float: right;
    }
    .mobile_menu .account-cart-wrapper .header-minicart a.fa-shopping-cart:before {
        content: "\f07a";
        width: 55px;
        height: 55px;
        line-height: 55px;
        font-size: 20px;
    }
    .mobile_menu .account-cart-wrapper .header-minicart a.fa-shopping-cart .count {
        position: absolute;
        top: 0px;
        background: transparent;
    }
    .logo img {
        max-width: 85%;
        width: 100%;
        margin: auto;
    }
    #header {
        position: relative;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .page-header-container .logo {
        position: absolute;
        left: 0px;
        right: 0px;
        margin: auto;
        top: 0px;
        bottom: 0px;
        height: 35px;
    }
    .page-header {
        padding-bottom: 0px;
    }
    .banner_slider_desktop .image-gallery-outer {
        margin-top: 0px;
    }
    .Featured_text .featured_title {
        font-family: 'droid_bold';
        text-transform: none;
        display: inline-block;
        position: relative;
        font-size: 22px;
    }
    .Featured_text .featured_title:before,
    .Featured_text .featured_title:after {
        display: none;
    }
    .Featured_text {
        font-size: 17px;
        font-family: Droid Serif;
        color: #111111;
        padding-top: 35px;
        padding-bottom: 30px;
    }

    .main_data_cont {
        max-width: 100%;
        width: 100%;
        float: left;
        margin-right: 0%;
        margin-bottom: 15px;
        box-sizing: border-box;
    }


    .item .product-info .product-name {
        color: #111111;
        text-align: left;
        width: 100%;
        font-family: 'droid_regular';
        text-transform: none;
        font-size: 10px;
        margin-top: 15px;
        min-height: 40px;
    }

    .product-info .price-box .price {
        color: #a78b6b;
        font-size: 14px;
        font-family: 'droid_regular' !important;
    }
    .products-grid>li {
        position: relative;
        margin-bottom: 10px;
        text-align: center;
    }
    .toolbar-bottom {
        display: none;
    }
    .page-title h1,
    .page-title h2,
    .product-name h1,
    .product-name .h1 {
        text-transform: capitalize !important;
        font-size: 14px;
        font-weight: 600;
        color: #b7a086;
        border-bottom: 1px solid #ededed;
        padding-bottom: 3px;
        margin-bottom: 15px;
        text-transform: uppercase;
        font-family: 'droid_regular'
    }
    .product_image_cont:hover .product_list_btn,
    .product_image_cont:hover .product-image:before {
        display: none;
    }
    #header.sticky_header {
        position: fixed;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .product-view .product-shop .product-name {
        display: block;
        max-width: 100%;
        width: 100%;
        float: left;
    }
    .product-view .product-shop .price-info {
        float: right;
        max-width: 20%;
        width: 100%;
    }
    .product-view .product-shop .product-name .h1 {
        font-size: 14px;
        font-family: 'droid_bold';
    }
    .product-view .product-shop .price-box .regular-price .price,
    .product-view .product-shop .price-box .special-price .price,
    .product-view .product-shop .price-box .full-product-price .price {
        font-size: 14px;
        font-family: 'droid_bold';
        line-height: 12px;
        padding-top: 00px;
    }
    .product-view .add-to-links a.link-wishlist {
        text-indent: 00px;
        max-width: 80px;
        width: 100%;
        min-width: 80px;
        position: relative;
        overflow: hidden;
    }

    .product-view .add-to-links a.link-wishlist:before {
        content: '\f004 ';
        display: block;
        font-family: 'FontAwesome';
        font-size: 25px;
        position: relative;
        left: 0px;
        right: auto;
        width: 76px;
    }
    .product-view .add-to-cart .qty-wrapper {
        display: none;
    }
    .product-view .add-to-cart {
        float: right;
    }
    .product-view .add-to-cart-buttons .button {
        min-width: 180px;
    }
    .add-to-cart-wrapper.fixed_cart {
        position: fixed;
        bottom: 0px;
        width: 100%;
        left: 0px;
        background: #a78b6b;
        z-index: 99999;
    }

    .product-view .add-to-cart-wrapper.fixed_cart .add-to-cart-buttons .button {
        background: #fff;
    }
    .product-view .add-to-cart-wrapper.fixed_cart .add-to-cart-buttons .button span span {
        color: #fff;
    }
    .product-view .add-to-cart-wrapper.fixed_cart .add-to-cart-buttons .button span span {
        color: #a78b6b;
        text-transform: none;
    }

    .product-view .add-to-cart-wrapper.fixed_cart .add-to-links a.link-wishlist {
        border: 2px solid #fff;
    }
    .product-view .add-to-cart-wrapper.fixed_cart .add-to-links a.link-wishlist:before {
        color: #fff;
    }
    .catalog-product-view .add-to-cart-wrapper.fixed_cart .quantity_title {
        display: none;
    }

    .product-view .add-to-cart-wrapper.fixed_cart .add-to-cart-buttons {
        float: none;
        display: inline-block;
        vertical-align: middle;
        margin-left: 0px;
        margin-right: 0px;
    }
    .catalog-product-view .add-to-cart-wrapper.fixed_cart .add-to-box {
        padding: 10px;
    }
    .product-view .add-to-cart-wrapper.fixed_cart .add-to-links {
        margin-bottom: 0px;
    }
    .product-img-box .product-name h1 {
        display: none;
    }
    .top_bar_data {
        display: none;
    }
    .page-header-container .store-language-container {
        display: none;
    }
    .page-header-container .logo {
        position: absolute;
        left: 0px;
        right: 0px;
        margin: 12px auto 0px auto;
        top: 0px;
        height: 35px;
        min-height: 35px;
    }
    .sticky_body .main-container {
        padding-top: 65px;
    }

    .bakeri_images .owl-dots .owl-dot {
        background: #cbcbcb;
        width: 7px;
        height: 7px;
        margin: 0px 2px;
        text-align: center;
        float: none;
        display: inline-block;
        border-radius: 50%;
        box-shadow: none;
    }
    .owl-carousel .owl-dot.active span,
    .owl-carousel .owl-nav.clickable .owl-dot:hover span {
        background: none repeat scroll 0 0 #ab9070;
    }
    .bakeri_img_box {
        width: 100%;
        float: none;
        clear: left;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 25px;
    }
    .catalog-product-view .add-to-cart-wrapper .quantity_title {
        display: none;
    }
    .bakeri_fullscreen {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: #fbfbfb;
        z-index: 999999;
        overflow: hidden;
    }
    .details_accordian {
        padding-top: 17px;
        padding-bottom: 15px;
    }
    .terms_condition_page .col-xs-12 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .cms-page-view .std .terms_condition_page p,
    .cms-no-route .std .terms_condition_page p {
        color: #111111;
        font-family: 'droid_regular';
        font-size: 12px;
        font-style: normal;
        line-height: 21px;
    }
    .accordian_container .accordian_inner .accordain-head {
        padding-top: 15px;
        padding-bottom: 15px;
        text-transform: uppercase;
        font-size: 13px;
        font-family: 'droid_regular';
        border-bottom: #a78b6b solid 1px;
        color: #a78b6b;
        padding-right: 35px;
        padding-left: 0px;
        cursor: pointer;
        position: relative;
        width: 100%;
        line-height: 15px;
    }

    .accordian_container .accordian_inner .accordain-head:after {
        right: 0px;
    }
    .footer-container {
        margin-top: 24px;
    }
    .shipment_cont_inner .shipment_data .shipment_image {
        max-width: 65%;
        width: 100%;
        margin: auto;
        height: auto;
        fill: #404040;
    }
    .terms_condition_page.clearfix {
        padding-left: 0px;
        padding-right: 0px;
    }

    .owl-carousel .owl-nav .owl-next,
    .owl-carousel .owl-nav .owl-prev {
        display: none;
    }
    .our_client_main .image_cont {
        height: auto;
    }
    .sticky_header {
        top: 0px;
    }
    #wp-nav-container {
        float: right;
        width: 100%;
    }
    #menu-button,
    .foorer-top-bar {
        display: none;
    }
    .panel-body .left_form,
    .panel-body .right_form {
        width: 100%;
        max-width: 100%;
        display: inline-block;
        vertical-align: top;
        margin-right: 0%;
        margin-bottom: 10px;
        margin-left: 0%;
    }
    .dashboard .welcome-msg .hello {
        font-style: normal;
    }
    #wishlist-table td.customer-wishlist-item-image {
        display: block;
        overflow: hidden;
        width: 30%;
        float: left;
    }
    #wishlist-table td.customer-wishlist-item-info {
        width: 68%;
        float: right;
    }
    #algolia_instant_selector .instant-search-bar-label span:nth-child(2) {
        display: none;
    }
    #algolia_instant_selector .instant-search-bar-label {
        width: 35px;
    }
    #algolia_instant_selector #instant-search-bar {
        width: calc(100% - 35px);
    }

    .footer_social_icon li a:before {
        color: #a78b6a;
        font-size: 22px;
    }
    .footer .block-subscribe {
        margin-bottom: 0px;
    }
    .footer_social_icon {
        margin-bottom: 25px;
    }
    .product-cart-image .cart-links li a {
        color: #a78b6b;
        font-weight: 400;
        text-decoration: underline;
    }

    .cart-table .product-cart-actions .qty {
        height: 30px;
        border-color: #cccccc;
        outline: none;
        width: 30px;
        padding: 0px 4px;
        text-align: center;
        font-size: 12px;
        font-family: 'droid_regular';
        margin-bottom: 0px;
    }
    .button,
    .cart-table .product-cart-actions .button {
        vertical-align: top;
        display: inline-block;
        height: 30px;
        padding: 5px 15px;
    }

    .product-cart-actions .checkout_cont_new {
        width: calc(100% - 60px);
        padding-left: 00px;
        display: inline-block;
    }
    #discount-coupon-form .input-text {
        margin-right: 0px;
    }
    .outer_container_featured .outer_container .featured_inner .featured_data .data_text {
        opacity: 1;
    }
    .product-img-box,
    .product-view .product-shop {
        width: 100%;
    }
    .product-view .add-to-cart {
        width: calc(100% - 85px);
    }
    .product-view .add-to-cart-wrapper.fixed_cart .add-to-cart-buttons {
        width: 100%
    }
    .card_container_custom .add-to-cart-buttons {
        width: 100%;
    }

    .card_container_custom .add-to-cart-buttons {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .product-view .product-shop .product-name.product-names .h1 {
        max-width: calc(100% - 80px);
        display: block;
        width: 100%;
    }

    .product-view .product-shop .price-box .regular-price .price {
        color: #888888;
    }

    .hide_desktop {
        display: block !important;
    }
    .product-view .product-shop .price-info {
        max-width: 80px;
    }
    .hide_mobile {
        display: none !important;
    }


    .mobile_menu .account-cart-wrapper .header-minicart a.fa-shopping-cart .count {
        right: 7px;
        top: 10px;
    }
    .toggle_container_menu .toggle_menu .menu_item {
        font-size: 16px !important;
    }
    #wp-nav-container {
        float: right;
        width: 100%;
        min-height: calc(100vh - 91px);
        background: #fafafa;
    }

body.cms-home .main-container
{
padding-top:57px;
}

.login_mobile
{
display: block;
    width: 100%;
    padding: 10px;
    height: 34px;
    background: #fafafa;
    font-family: 'droid_regular';
    color: #fff;
    background: #a78a6a;
}
.login_list_mobile a
{
    display: inline-block;
    max-width: 49.5%;
    width: 100%;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font: normal normal 14px/34px droid_regular;
    color:#a78a6a;
    
}
.login_list_mobile a.my_account
{
    float: left;
    color: #fff;
    background: #a78a6a;
}
.login_list_mobile a.logout
{
    float: right;
}

.block-subscribe .block-title strong span
{
display:block;text-align:center;
}
.copyright .social-icon
{
display:none
}


}