<?php 
$collection = $this->getImages();
$imageData = $collection->getData();
$catCollection = $this->getCategoryData();
$catData = $catCollection->getData();
//var_dump($imageData);
$img_name ;
$img_name_desk;
$count=1;
?>

<?php foreach($catData as $key => $value):
	$sliderId=$value['slider_id'];
	$sliderTitle=$value['slider_title'];
	$status=$value['status'];
	$title=$value['display_all_slide_title'];
	$description=$value['display_all_slide_description'];	
	$animationIn=$value['animation_in'];
	$animationOut=$value['animation_out'];
	$navigation=($value['navigation']==0)?"true":"false";
	$navigationBgColor=$value['navigation_bg_color'];
	$navigationHoverColor=$value['navigation_bg_hover_color'];	
	$navigationArrowColor=$value['navigation_arrow_color'];
	$navigationArrowHoverColor=$value['navigation_arrow_hover_color'];
	$pagination=($value['pagination']==0)?"true":"false";
	$paginationBgColor=$value['pagination_bg_color'];
	$paginationHoverColor=$value['pagination_bg_hover_color'];
	$autoplay=($value['auto_play']==0)?"false":"true";
	$autoplayTimeout=($value['auto_play']==0)?0:$value['auto_play'];
	endforeach;	
	
?>

<?php if($status==1): ?>
<script>
var image_desk = Array();
var image_mob = Array();
</script>
<?php  foreach($imageData as $data): 
	   //var_dump($data);
	?>
<script>
	image_desk.push("<?php if($data['img_url_upload']==1){echo $data['desktop_img_url'];} else{echo Mage::getBaseUrl('media').$data['desktop_slide_img'];} ?>");
	image_mob.push("<?php if($data['img_url_upload']==1){echo $data['mobile_img_url'];}else{echo Mage::getBaseUrl('media').$data['mobile_slide_img'];} ?>");
</script>

<?php endforeach; ?>
<div class="image-gallery-outer">
	<div class="image-detail">
		<ul id="banner-slider<?php echo $sliderId ?>" class="banner-slider owl-carousel" style="display:none;">
		<?php  foreach($imageData as $data): 
			//var_dump($data['desktop_img_url']);
		?>
			<li class="banner-slide">
				<div class="img-box">
                	<?php if($data['slide_url']!=" ") { ?>
                    	<a <?php if($data['open_new_tab'] == 1){ echo 'target="_blank"'; } ?> <?php echo $data['bakeri_attribute']; ?> href="<?php echo $data['slide_url']; ?>" title="<?php echo $data['slide_title']; ?>">
                        <?php } ?>
						<div class="img-box-inner">
							
							
							<img <?php echo $data['bakeri_attribute']; ?> class="image_slider_<?php echo $count++;?>"  alt="<?php echo $data['slide_alt']; ?>" />
							
							
							<div class="slide-desc-box t-<?php echo $data['text_align']; ?>">
								<div class="slide-content" style="color:#<?php echo $data['text_color']; ?>">
									<?php if($title==0): ?>
										<h3 class="slide-title" style="color:#<?php echo $data['text_color']; ?>">
											<?php echo $data['slide_title']; ?>
										</h3><?php
										endif;
									?>
									<?php if($description==0): ?>
										<div class="slide-desc">
											<?php echo $data['slide_description']; ?>
										</div><?php
										endif;
									?>				
								</div>
							</div>
					   </div>
                   <?php if($data['slide_url']!=" ") { ?>
                   	</a>
                   	<?php } ?>
				</div>
			</li>
		<?php endforeach; ?>
		</ul>
	</div>
</div>

<?php 
 $TextOut = (string)$animationOut;
 $TextIn = (string)$animationIn; 
?>

<!-- Script -->
<script type="text/javascript">
jQuery.noConflict();
jQuery(document).ready(function(){
    jQuery('#banner-slider<?php echo $sliderId; ?>').owlCarousel({
    	animateOut:'<?php if (strpos($TextOut, 'slide') !== false) { echo ''; } else{ echo $animationOut; } ?>',
	    animateIn:'<?php if (strpos($TextIn, 'slide') !== false) { echo ''; } else{ echo $animationIn; } ?>',
	    items:1,
	    margin:0,
		lazyLoad:true,
	    stagePadding:0,
		autoplay:<?php echo $autoplay; ?>,
		autoplayTimeout:<?php echo $autoplayTimeout; ?>,
		nav:<?php echo $navigation; ?>,
		navText:['<','>'],
		smartSpeed:500,
		loop:true,
		autoplayHoverPause:true,
		dots:<?php echo $pagination; ?>
	})

	var count = 1;
	var value_name;
	var imgcon;
	
	if(jQuery(window).width()>767)
	{   
		jQuery('#static_img_mobile').css('display','none');
		jQuery(image_desk).each(function(key,value){

		    value_name = image_desk[key];
		    jQuery(".image_slider_"+count).attr("src",value_name);	
			count++;
			return;
		});
		imgcon = jQuery(".banner_slider_desktop #banner-slider<?php echo $sliderId; ?> img");
		imgcon.first().on('load', function (){
			jQuery('#static_img_desktop').css('display','none');
			jQuery('.banner_slider_desktop #banner-slider<?php echo $sliderId; ?>').css('display','block');
		});	
	}
	if(jQuery(window).width()<767)
	{
        jQuery('#static_img_desktop').css('display','none');
		jQuery(image_mob).each(function(key,value){

			
			value_name = image_mob[key];
			
			//console.log(value_name);
			jQuery(".image_slider_"+count).attr("src",value_name);	
			count++;
			return;
		})

		imgcon = jQuery(".banner_slider_desktop #banner-slider<?php echo $sliderId; ?> img");
		imgcon.first().on('load', function (){
			jQuery('#static_img_mobile').css('display','none');
			jQuery('.banner_slider_desktop #banner-slider<?php echo $sliderId; ?>').css('display','block');
		});	
   }									
})
</script>


<!-- Style -->
<style>
#banner-slider<?php echo $sliderId; ?> .owl-nav div
{
	background:#<?php echo $navigationBgColor; ?>;
	color:#<?php echo $navigationArrowColor;?>
}
#banner-slider<?php echo $sliderId; ?> .owl-nav div:hover
{
	background:#<?php echo $navigationHoverColor; ?>;
	color:#<?php echo $navigationArrowHoverColor;?>
}
#banner-slider<?php echo $sliderId; ?> .owl-dot span
{
	background:#<?php echo $paginationBgColor; ?>;
}
#banner-slider<?php echo $sliderId; ?> .owl-dot.active span,
#banner-slider<?php echo $sliderId; ?> .owl-dot:hover span
{
	background:#<?php echo $paginationHoverColor; ?>;
}
</style>

<?php 
	endif;
?>