<?php
/**
 * @var $this IWD_Opc_Block_Onepage_Review
 * @var $opcHelper IWD_Opc_Helper_Data
 */
?>
<?php
$opcHelper = $this->helper('iwd_opc');
?>


<style>


@media(max-width:767px)
{
.checkout_review{display:none;}
.checkout_review_mobile{display:block;}
.cartCustomBlock .data-table tbody tr.checkout_product td:first-child .product-name a {
  border: 0px !important;
  border-bottom: 1px dotted #1e8183 !important;
}
.cartCustomBlock .data-table tbody tr.checkout_product td:last-child a {
  border: 1px solid #1e8183 !important;
}
.checkout_product {
  position: relative;
  text-align: left;
}
.checkout_product td:first-child .product-name {
  float: left;
  text-align: left;
}
.checkout_product td:first-child .product-name a {
  border-bottom: 1px dotted #1e8183 !important;
}
.checkout_product .btn-remove2 {
  position: absolute !important;
  right: 20px;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
}
.checkout_product .left_prod_checkout {
  max-width: 30%;
  width: 100%;
  float: left;
}
.checkout_product .left_prod_checkout a {
  width: 90% !important;
  margin: 0px !important;
}
.checkout_product .right_prod_desc_checkout {
  max-width: 70%;
  width: 100%;
  float: left;
  text-align: left;
}
.checkout_product .right_prod_desc_checkout .cart-price span {
  font-size: 12px;
}
.checkout_product .left_text {
  text-align: left !important;
}
.checkout_product .left_text p {
  text-align: left;
}
.checkout_product .left_text a {
  width: 50px !important;
  text-align: center;
  margin: 0px !important;
  border: #1e9093 solid 1px !important;
  padding: 3px 5px !important;
}
}
.review_heading
{
    font-size: 18px;
    color: #2d3c6c;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'CrimsonText-Semibold';
}
</style>

<div>Review Your Order</div>
<?php
    $quote = Mage::getModel('checkout/session')->getQuote();
  if ($quote) {
    if ($quote->getShippingAddress()) {
      // check customer shipping address country
      $shippingData = $quote->getShippingAddress()->getData();
	if($shippingData){//echo "Shipping to ".$shippingData['firstname']." ".$shippingData['lastname'].",".$shippingData['city'].",".$shippingData["postcode"];
			}
    }
  }
?>
</div>
<div id="checkout-review-table-wrapper" class="cartCustomBlock">
  <div class="review_heading">Review Your Order</div>

<table class="data-table cart-table checkout_review_mobile" id="checkout-review-table">
	 <tbody>
              <?php foreach($this->getItems() as $_item): ?>
				<tr class="first odd checkout_product">
					<!--<td class="clearfix">
						<!--<h2 class="product-name"><a href="https://www.zaabel.com/pearl-inlay-drop-pendant-3141"><?php echo $_item->getProduct()->getName(); ?></a></h2>-->
						<!--<a href="<?php echo $_item->getDeleteUrl();?>" title="Remove item" class="btn-remove btn-remove2">Remove item</a>-->
					<!--</td>-->
					<td class="clearfix">
					<div class="left_prod_checkout">
						<a href="#" title="Pearl Inlay Pendant" class="product-image"><img src="<?php echo Mage::helper('catalog/image')->init($_item->getProduct(), 'thumbnail')->resize(75, 75); ?>" width="75" height="75" alt="Pearl Inlay Pendant"></a>
					</div>
					<div class="right_prod_desc_checkout">
            <h2 class="product-name"><a href="#"><?php echo $_item->getProduct()->getName(); ?></a></h2>
						<div class="cart-price"> 
							<span>Price excl. GST :</span><span class="price"><?php echo Mage::helper('checkout')->formatPrice($_item->getPrice()*$_item->getQty(),true,true); ?></span>                        
								</div>
						<div class="cart-price">
							<span>Price incl. GST :</span><span class="price"><?php echo Mage::helper('checkout')->formatPrice($_item->getPriceInclTax()*$_item->getQty(),true,true); ?></span>                        
								</div>
						<div class="cart-price">
							<span>Quantity :</span><span class="price"><?php echo $_item->getQty();?></span>                        
								</div> 
					</div>
					</td>
					<!--<td class="left_text clearfix">
						<!--<a href="<?php //echo $_item->getConfigureUrl();?>" title="Edit item parameters">Edit</a>-->
					<!--</td>-->
				</tr><?php endforeach ?>
				</tbody>
            </table>
        <div class="summary_section_cont">
  				<div class="order_summary_title">Order Summary</div>
  				<?php echo $this->getChildHtml('totals'); ?>
        </div>
</div>

<style>
.iwd_opc_wrapper *
{
  font-family: 'CrimsonText-Semibold';
}
    .left_prod_checkout
    {
        max-width:30%;
        width:100%;
        float:left;
    }
    .right_prod_desc_checkout
    {
        max-width:70%;
        width:100%;
        float:right;
            text-align: left;
            font-family: 'CrimsonText-Semibold';
    }
    

    .cartCustomBlock .data-table tbody tr td:last-child a:hover
    {
      border-bottom: 1px dotted #1e9093 !important;
    }

    .left_prod_checkout a
    {
      width: 100px !important;
      height: 100px  !important;
    }
    .category-products .item img, .product-image img {
        display: block;
        height: auto;
        max-width: 100%;
        width: 100%;
    }
    #checkout-review-table .left_prod_checkout a {
        border: 1px solid #1e9093 !important;
        margin:0px;
        box-sizing: content-box;
    }
    .right_prod_desc_checkout .product-name
    {
        border-bottom: 1px dotted #1e9093 !important;
        display: inline-block;

    }
    #checkout-review-table .right_prod_desc_checkout .product-name a:hover
    {
        border:0px !important;
    }
    .order_summary_title
    {
      text-align: left;
      font-size: 16px;
      margin-bottom: 10px;
      margin-top: 15px;
      color: #2d3c6c;
    }
    .iwd_opc_top_review_total .iwd_opc_top_review_total_cell:nth-child(1)
    {
      max-width:70%;
      width: 100%;
      float:left;
      text-align: left;
    }
    .iwd_opc_top_review_total .iwd_opc_top_review_total_cell:nth-child(2)
    {
      max-width:30%;
      width: 100%;
      float:left;
      text-align: right;
    }
    #checkout-review-table , #iwd_opc_top_review , .summary_section_cont
    {
      max-width:500px;
      width:100%;
      margin:auto;
    }
    #iwd_opc_place_order #iwd_opc_place_order_button
    {
      background-color: #2d3c6c;
      max-width: 500px;
      width: 100%;
      margin: auto;
      margin-top: 15px;
      font-size: 16px;
    }
    #iwd_opc_top_review div
    {
      font-size: 18px;
      color: #22a1ad;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .data-table .product-image img
    {
      min-width:100%;
    }

    @media(max-width: 767px)
    {
      .right_prod_desc_checkout .product-name
      {
        border-bottom:0px !important;
      }
      .checkout_product .left_prod_checkout a
      {
            height: auto !important;
      }
      #iwd_opc_payment_column
      {
         padding:5px !important;
      }
    }
</style>
